.NavigationMenu{
    position: fixed; /* ヘッダーを固定する */
    display: flex;
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
    height: 50px; /* ヘッダーの高さを指定する */
    padding: 10px; /* ヘッダーの余白を指定する(上下左右) */
    background-color: #c3f9df; /* ヘッダーの背景色を指定する */
    z-index: 300;
}      
.dcanvas {
   background: #eeeeee; display: inline; margin: auto ;
   padding: auto; max-width: 100% ;height: auto;
  } 
.bcanvas {
   background: #fdfccbfd; 
   float: left;
   margin:0 auto ;
   padding: auto;
/*   width: 380; */
/*   max-width: 100% ;*/
   height: auto;
} 
.page1 {
    display: flow-root;
    margin:0 auto; 
    align-items: center;
    place-items: center;
}
button { width: 80px;height: 40px;background: #3ee7; color: black; 
          padding:5px 0 5px;
          border-radius: 5px;
          display: inline; font-size:16px; font-weight: bold; 
          align-items: center ;
       }
.body{
          text-align: center;
     }
table {
    text-align: center;
    font-size:10px;
    /*font-weight: bold;*/ 
}
   
table.st-tbl1 {
text-align: left;
position: relative;
font-size:10px; 
table-layout:fixed; 
width:100%

}
table.st-tbl1 th,
table.st-tbl1 TH{
padding: 0.2rem;
border: solid 1px #ddd;
text-align: center;
font-size:12px;
resize: horizontal;
overflow: hidden; 
}
table.st-tbl1 th {
background: rgb(192, 228, 248);
z-index: 300;
position: sticky;
top: 70px;
border: 1px solid black;
}
table.st-tbl1 td {
  font-size:10px;
  text-align: start;
  margin-top: 0;
  padding: 0;
  vertical-align: top;
  height: 100px;
  text-overflow: ellipsis; 
  overflow: hidden;
  border: 1px solid black;
}
.tablecell {

  border: 1px solid black;
}
.tablecell:hover{
 /* background-color: rgb(243, 209, 190);*/
  background-color: rgb(230, 246, 221);
  overflow:visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
.tablecell:hover  .tableul{
 /* background-color: rgb(151, 68, 26);*/
  z-index: 200;
  font-weight: bold;
  opacity: 1;
}

.pmenu {
  position: relative;
  flex: 1;
  cursor: pointer;
  font-size:14px;
  font-weight: bold;
/*  width: 200px; 
  padding-left: 10px;
  padding-right: 10px;*/
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  text-align: center;
  align-items: center;
}
.pmenu li{
	border-bottom: 1px solid rgb(241, 41, 15);
}
.submenu {
  list-style: none;
  position: absolute;
  display: block;
  z-index: 1;
  width: 180px;
  top: 20px;
  clear: both;
  align-items: center;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: var(--back-color);
/*   margin-top: 25px;
  

 transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;*/
  visibility: hidden;
}
.submenu ul{
  text-align: left;
}
.submenu li{
/*  display: flex;
  justify-content: center;*/
  width:100%;
  padding: 5px 0 5px 0;
  align-items: left;
}

.pmenu:hover {
  background-color: var(--back-color); 
}
.pmenu:hover .submenu {
/*	background-color: var(--back-color);   */
  transition: all 0.3s;
  visibility: visible;

}
.pmenu:active .submenu {
	/*	background-color: var(--back-color);   */
	  transition: all 0.3s;
	  visibility: hidden;
	
}
.tableul {
    text-align: left;
/*    list-style-type:circle */
    list-style-type: '';
    text-wrap: nowrap; 
    text-overflow: ellipsis;
    margin: 0;
    padding-left: 1em;
    z-index: 100;
    position: relative;
  }

.tableul:hover  .colortext{
  background-color: rgb(230, 246, 221);
  z-index: 200;
  font-weight: bold;
  opacity: 7;
}
.tablepmenu {
  cursor: pointer;
  list-style: '▼';
  position: relative;
  text-align: left;
  align-items: left;
  padding: auto;
/*  list-style: none;*/
}
.teblesubitem {
  list-style: none;
  z-index: 10;
  position: absolute;
/*  display: inline-block;
clear: both;*/
  display: block;
  align-items: left;
  text-align: left;
  /*width: 150%;*/
  background-color: rgb(200, 243, 245);
  visibility: hidden;
  overflow:visible;
  padding-left:1em;
  margin:0px;
}
.teblesubitem li{
    text-align: left;
   /* overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tablepmenu:hover {
  background-color: rgb(200, 243, 245); 
}
.tablepmenu:hover .teblesubitem {
/*	background-color: var(--back-color);   */
  transition: all 0.3s;
  visibility: visible;

}
.tablepmenu:hover .colortext {
  background-color: rgb(200, 243, 245);

} 
