<html lang="ja">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="{{ url_for('static', filename='nenpyo-table.js') }}"></script>
<title>世界年表２</title>
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
<style>
  @media screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
      }
    }

  @media screen and (max-width: 480px) {
    .dcanvas {
        background: #eeeeee; display: inline; margin: auto ;
        padding: auto; max-width: 100% ;height: auto;
        width:300px;
    } 
/*          .table1{
      margin: auto; 
      grid-column-start: 1;
      grid-row-start: 2;
      
    }
    .table2{
      margin: auto; 
      grid-column-start: 1;
      grid-row-start: 4;
      
    }　*/
  }

main {
  background-color: #f1bed2; /*青色*/
  text-align: center;
}   
</style>
<link rel="stylesheet" href="/static/detailmenu.css" />
<body class="body" onload="Initialize()">
<header >
    <h3 width="150px">世界年表</h3>
    <div class="NavigationMenu" >
      <ul class="navUl" style="flex:1;list-style: none;">
        <li class="pmenu" ontouchstart="">表の設定
          <ul class="submenu">
              <li>
                <details > 
                  <summary >列を非表示</summary>
                  <table style="text-align: left;">
                      <tr> 
                        <td><input type='checkbox' name='checkDispCat' value=3 onchange='selectItems(0)'>日本</td>
                        <td><input type='checkbox' name='checkDispCat' value=4 onchange='selectItems(1)'>欧米</td>
                      </tr>
                      <tr>
                        <td><input type='checkbox' name='checkDispCat' value=5 onchange='selectItems(2)'>アジア</td>
                      </tr>
                      <tr>
                        <td><input type='checkbox' name='checkDispCat' value=6 onchange='selectItems(3)'>科学・芸術（日本）</td>
                        <td><input type='checkbox' name='checkDispCat' value=7 onchange='selectItems(4)'>科学・芸術（欧米）</td> 
                      </tr>
                    </table>
                  </details > 
                </li>
                <li>
                  <details >
                      <summary>文字の大きさ</summary>
                      <input type='radio' name='tablefontsize' value=1 onchange='fontChange(0)'>大
                      <input type='radio' name='tablefontsize' value=2  checked onchange='fontChange(1)'>中
                      <input type='radio' name='tablefontsize' value=3 onchange='fontChange(2)'>小
                    </details> 
              </li>
            </ul>
        </li>
        <li class="pmenu" ontouchstart="">表示国選択
          <ul class="submenu">
            <li>
              <details id=pattern1 style="padding-left: 10px;"> 
                <summary id=checkCountry >欧州</summary>
                <div id="checktable">
                </div>
              </details>
            </li>
            <li>
              <details> 
                <summary id=checkCountryAsia >アジア</summary>
                <div id="checktableAsia">
                </div>
              </details>
            </li>
            <li>
              <button  type="submit" id="selCountry"  onclick="SelectCountry()">変更
            </li>
          </ul>
        </li>
        <li class="pmenu" ontouchstart="">表示開始年
          <ul class="submenu">
            <li>
              <input  type="input" id="inputFrom"  value="100" required; style="align-items: center; width:4em" onchange="jumppage()">
            </li>
          </ul>
        </li>
        <li>
          <div style="padding: 0 10px;" >
            <input  type="input" id="seachString"  value="" required; style="width:10em">
            <button class="button" type="submit" style="background: rgb(179, 226, 240)" id="searchBtn" onclick="searchItem()">検索</button>
          </div>
        </li>
    </ul>
        
  </div>
  <div id="searchResult" class="searchResult">
    <ul id="resultUl" style="list-style: none;">
    </ul>
    <button class="button" type="submit" style="background: rgb(228, 134, 39)" id="searchclose" onclick="searchclose()">閉じる</button>
  </div>
    <!--        <search>
          <form action="./search/">
            <input type="search" id="movie" name="q" />
            <button type="submit">検索</button>
          </form>
        </search> -->
</header>
<div style="display:block;clear:both; height: calc(100% - var(--hedder-height));;overflow: scroll;">
  <table id="table" class="st-tbl1" >
    <colgroup id="hiddenCol">
      <col></col>
      <col></col>
      <col></col>
      <col></col>
      <col ></col>
      <col></col>
      <col></col>
      <col></col>
  </colgroup>
    <tr id="dynamicTH">
      <TH width="5em" height="20px">年 </TH>
      <TH width="5em" height="20px">時代</TH>
      <TH width="5em" height="20px">将軍</TH>
      <TH width="20%" height="20px">日本</TH>
      <TH  width="20%" height="20px" >欧米
 <!--       <ul style="list-style: none;" >
          <li class="pmenu" ontouchstart="">
             <ul class="submenu">
                  <select id="shisetuCheck" style="font-weight: bold;width: 100%" onchange="disp_hidden(2)">
                  <option value="0">表示・非表示</option>
                  <option value="1">ローマ</option>
                  <option value="2">ギリシア</option>
                  <option value="3">神聖ローマ</option>
                  <option value="4">オスマン帝国</option>
                  <option value="5">ゲルマニア</option>
                  <option value="6">フランク王国</option>
                  <option value="7">ビザンツ帝国</option>
                  <option value="8">仏</option>
                  <option value="9">英</option>
                  <option value="A">伊</option>
                  </select>
              </ul> 
          </li>
          </ul>   --> 
      </TH>
      <TH width="15%" height="20px" >アジア</TH>
      <TH width="15%" height="20px">科学・芸術（日本）</TH>
      <TH width="15%" height="20px">科学・芸術（欧米）</TH>
    </tr>
  </table>
</div>
</body>
</html>